.Register {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.Register__form {
	padding: 15px;
	width: 280px;
	border: 1px solid;
	box-shadow: 0 20px 20px -10px rgba(0, 0, 0, 0.1);
}

.Register__input {
	margin: 10px auto;
	padding: 0.5em;
	width: 100%;
}

.Register__button {
	display: block;
	margin: 10px auto;
	padding: 0.5em 1em;
}
